# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment directories
tradingvenv/
pandas

# Ignore specific files
secret_config.py

# ignore api key files
bitget/api_creds.json
kucoin_dir/config_api.json
MEXC_dir/api_creds.json

# cronlogs
kucoin_dir/cronlogs
bitget/cronlogs
MEXC_dir/cronlogs

# data saved 
kucoin_dir/kucoin_release_data_initial